* {
    margin: 0;
    padding: 0;
}

#main {
    background-image: url("../images/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 150px 0 150px;
    min-height: 500px;

}

.wrapper-blocks {
    display: inline-flex;
}

.left-and-right {
    position: relative;
}
.wrapper-home{

}
.home {
    width: 300px;
    height: 150px;
    color: #f0f0f0;
    background-image: url("../images/home1.jpg");
    background-size: auto 110%;
    background-repeat: no-repeat;

}

.home-text {
    background: linear-gradient(rgb(102, 153, 204,0.3),rgb(0, 0, 0));
    font-size: 25px;
    color: cornflowerblue;
    text-shadow: 5px 5px 5px yellow;
    text-align: left;
    padding: 110px 20px 20px 20px;
}

.about {
    width: 149px;
    height: 120px;
    background-color: rgba(255, 9, 0, 0.63);
    color: #f0f0f0;
    margin-top: 30px;
    display: inline-flex;
    position: relative;
}

.about > i {
    display: flex;
    align-items: center;
    margin: -15px auto 0;
    font-size:48px;
}

.about > span {
    position: absolute;
    top: 85px;
    left: 48px;
    font-size: 20px;
    font-weight: 900;

}

.contact {
    width: 140px;
    height: 120px;
    background-color: rgba(255, 150, 22, 0.63);
    color: #f0f0f0;
    display: inline-flex;
    margin: 20px 0 0 10px;
    position: absolute;
    top: 160px;
}

.contact > i {
    display: flex;
    align-items: center;
    margin: 0 auto 15px;
    font-size:48px;
}

.contact > span {
    position: absolute;
    top: 85px;
    left: 38px;
    font-size: 20px;
    font-weight: 900;

}

.gallery {
    background-image: url("../images/speedball.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 270px;
    color: #f0f0f0;
    margin-top: 10px;
}

.gallery-text{
    background: linear-gradient(rgb(102, 153, 204,0.3),rgb(0, 0, 0));
    font-size: 25px;
    color: cornflowerblue;
    text-shadow: 5px 5px 5px yellow;
    text-align: left;
    padding: 200px 0 40px 20px;
}

.download {
    background-image: url("../images/downoloadd.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    margin-top: 10px;
    color: #f0f0f0;
    position: relative;
    z-index: 1;
}

.download-text {
    font-size: 25px;
    color: cornflowerblue;
    text-shadow: 0 0 10px yellow;
    text-align: center;
    padding-top: 85px;
}

.color-back {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
    width: 300px;
    background-color: rgba(253,0,30,0.53);
    z-index: -1;
}

.right-2 {
    margin-left: 20px;
}

.begin {
    background-image: url("../images/onemorebg.jpg");
    background-repeat: no-repeat;
    background-size: auto 132%;
    width: 880px;
    height: 400px;
}
.game-mode-wrapper {
    padding: 50px 0 20px 50px;
    position: relative;
}
.line-top-left-begin {
    height: 5px;
    width: 880px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5fec4b;
}

.line {
    height: 100px;
    width: 5px;
    border: 1px solid blue;
    background-color: #f0f0f0;
    color: red;
    position: absolute;
    top: 40px;
    left: 30px;
}

.game-mode {
    color: #123332;
    font-size: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 45px;
    left: 55px;
    text-shadow: 0 5px 10px #a41313;

}

h2 {
    font-size: 21px;
    color: #556c6d;
    text-transform: none;
}

.free-trial {
    position: relative;
    top: -20px;
    left: 530px;
    z-index: 5;
    width: 300px;
    height: 100px;
}

.button-pass {
    width: 200px;
    height: 50px;
    background-color: rgba(253,245,99,0.63);
    color: blue;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px 10px 10px 10px;
    text-transform: uppercase;
    font-size: 20px;
    top: 265px;
    left: 60px;
    z-index: 6;
}

.about-mode {
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    width: 600px;
    font-size: 16px;
    text-transform: none;
    color: yellow;
    text-shadow: 2px 0 2px black;
}

.about-solo-wrapper {
    margin-top: 20px;
    width: 430px;
    height: 500px;
    position: relative;
    background-color: #f0f0f0;
}

.content-left {
    background-image: url("../images/wp2781249.jpg");
    background-size: auto 100%;
    display: inline-flex;
    width: 430px;
    height: 270px;
}

.left-top-line-solo {
    height: 5px;
    width: 430px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5fec4b;
}

.line-second {
    height: 80px;
    width: 5px;
    border: 1px solid blue;
    background-color: #f0f0f0;
    color: red;
    position: absolute;
    top: 280px;
    left: 30px;
    z-index: 5;
}

.solo-text-wrapper {
    background-color: #f0f0f0;
    padding: 10px 10px 10px 50px;
    margin-top: -3px;
    position: relative;

}

h3 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 5px;
    text-shadow: 0 0 2px black;
}
h4 {
    color: #556c6d;
    font-size: 20px;
    margin-bottom: 15px;
}
.line-down-solo {
    width: 400px;
    height: 2px;
    background-color: rgba(37, 197, 255, 0.46);
    position: absolute;
    margin-top: 5px;
    left: 15px;
}
.solo-text-wrapper > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-shadow: 0 0 2px black;
}
.navigation-likes {
    font-style: italic;
    font-weight: 600;
    position: relative;
    bottom: 5px;
    left: 30px;
}
.icons_sub {
    position: absolute;
    bottom: 0;
    right: 55px;
}
i {
    margin: 5px;

}
.right-wrappe {
    margin-top: 20px;
    width: 430px;
    height: 500px;
    display: inline-flex;
    background-color: #f0f0f0;
    position: absolute;
    top: 430px;
    left: 920px;
}

.content-right {
    background-image: url("../images/multiplay.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 430px;
    height: 270px;
}

.right-top-line-multi {
    height: 5px;
    width: 430px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5fec4b;
}

.line-third {
    height: 80px;
    width: 5px;
    border: 1px solid blue;
    background-color: #f0f0f0;
    color: red;
    position: absolute;
    top: 280px;
    left: 30px;
}

.text-wrapper-right {
    height: 230px;
    width: 430px;
    position: absolute;
    top: 270px;
    left: 0;
}

.title-multiplayer {
    position: absolute;
    top: 10px;
    left: 50px;
}

.title-multiplayer > h5 {
    font-size: 35px;
    color: #000000;
    text-shadow: 0 0 2px black;
}

.title-multiplayer > h6 {
    margin-top: 3px;
    font-size: 20px;
    color: #556c6d;
}

.text-wrapper-right > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-shadow: 0 0 2px black;
    position: absolute;
    top: 87px;
    left: 45px;
}

.line-down-multiplayer {
    width: 400px;
    height: 2px;
    background-color: rgba(37, 197, 255, 0.46);
    position: absolute;
    margin-top: 5px;
    top: 182px;
    left: 15px;
}

.navigation-likes-2 {
    font-style: italic;
    font-weight: 600;
    position: relative;
    top: 190px;
    left: 30px;
}

.icons-sub-right {
    position: absolute;
    bottom: 0;
    right: 55px;
}

.content-end {
    margin-top: 20px;
    min-width: 880px;
    max-width: 880px;
    height: 500px;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    position: relative;
}

.line-top-end-content {
    height: 5px;
    width: 880px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5fec4b;
}

.end-wrapper {
    padding: 35px 50px 30px 50px;
    font-family: 'Montserrat', sans-serif;
}

.title-text-wrapper {
    position: relative;

}

.line-text-end {
    height: 100px;
    width: 5px;
    border: 1px solid blue;
    background-color: #f0f0f0;
    color: red;

}

.title-text-wrapper > h5 {
    font-size: 35px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.title-text-wrapper > h6 {
    font-size: 25px;
    color: #556c6d;
    position: absolute;
    top: 50px;
    left: 20px;
}

.proposition-wrapper {
    padding-top: 15px;
    display: inline-flex;
}

.proposition-first {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
    width: 250px;
    position: relative;
}

.text-first-propos {
    text-align: center;
    margin-top: 8px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: yellow;
}

.color_first {
    background-color: rgba(155, 131, 255, 0.63);
    width: 250px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.proposition-second {
    background-image: url("../images/secret.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
    width: 250px;
    margin-left: 20px;
    position: relative;

}

.text-second-propos{
    text-align: center;
    margin-top: 8px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: yellow;
}

.color_second{
    background-color: rgba(155, 131, 255, 0.63);
    width: 250px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;

}

.proposition-third{
    background-image: url("../images/images.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
    width: 250px;
    margin-left: 20px;
    position: relative;
}

.text-third-propos{
    text-align: center;
    margin-top: 8px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: yellow;

}

.color_third{
    background-color: rgba(155, 131, 255, 0.95);
    width: 250px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.end-content-text{
    margin-top: 15px;
    font-size: 16px;
}
.line-below-content{
    height: 5px;
    width: 800px;
    background-color: rgba(37, 197, 255, 0.46);
    color: red;
    position: absolute;
    top: 450px;
    left: 50px;
}
.read-more-end{
    position: absolute;
    bottom: 5px;
    right: 35px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgba(92,92,97,0.63);
}
.text-ending{
    color: rgba(242,242,253,0.63);
    font-size: 14px;
    padding-top: 30px;
    text-align: end;
}